.sidebar-container {
  @extend .container;
  position: relative;
  height: 100%;
  padding: 0;
  @media screen and (max-width: $breakpoint-small) {
    height: 9%;
  }
}

.sidebar {
  position: fixed;
  height: inherit;
  width: inherit;
  z-index: 1;
  background: $grey-900;
  color: $muted-text;
}

.sidebar-logo {
  img {
    border: 3px solid #fff;
    border-radius: 50%;
    max-height: 10em;
    transition: opacity .4s ease-in-out;
    box-shadow:
      0 0 3px 3px rbga(#000000, 0.3)
      inset 0 0 4em 2px rbga(#000000, 0.3);
      backface-visibility: hidden;
    }

  &:hover,
  &:focus {
    img {
      opacity: 80%;
    }
  }
}
